body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: black;
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    height: 500px;
    background: url(../images/hero.jpg) center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.btn {
    background: burlywood;
    padding: 12px 25px;
    color: blue;
    text-decoration: none;
    border-radius: 5px;
}

.about {
    padding: 60px;
    text-align: center;
}


